<p style="color: green"><%= notice %></p>

<%= render @comic_post %>

<div>
  <%= link_to "Edit this comic post", edit_comic_post_path(@comic_post) %> |
  <%= link_to "Back to comic posts", comic_posts_path %>

  <%= button_to "Destroy this comic post", @comic_post, method: :delete %>
</div>
