<div id="<%= dom_id custom_character %>">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <%= custom_character.name %>
          </h4>

          <h5 class="card-title">
            <strong>Powers:</strong>
            <%= custom_character.powers %>
          </h5>

          <h6> posted by <%= link_to custom_character.user.name, user_path(custom_character.user) %> </h6>
          <h6><%= pluralize(custom_character.views, "view") %></h6>
        </div>
      </div>
    </div>
  </div>
</div>
